body {
    font-family: "Lato", sans-serif;
    background: #021488;
}

.wrapper {
    margin: 0;
    padding: 0;
}

.cover-container {
    margin-top: 5%;
    margin-bottom: 5%;

}

.box-form {
    padding-top: 5%;
    padding-bottom: 5%;
    background: #fff;
    box-shadow: 0 5px 8px 0 rgba(155, 152, 152, 0.5), 0 9px 26px 0 rgba(155, 152, 152, 0.19);
}
